<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeatherForecastApp/about</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>{{title}}</h1> 
    {{>header}}
    <p> {{about_us}} </p>

    <p> THIS WEBSITE IS CREATED BY SURAJ RAOSAHEB ZURANGE. THE CONTENT CREATED HERE IS TAKEN FROM WEATHERSTACK AND MAPBOX API. THIS ARE JUST FOR DEVELOPMENT PURPOSE AND CAN BE ACCESSIBLE BY ANYONE.
    THE MOTIVE IS TO CREATE A SITE AS A PRACTICE TO GET WEATHER UPDATE OF ANY LOCATION BY SIMPLY PUTTING THE LOCATION ADDRESS.
<br>
<br>
    HOPE YOU'LL LOVE USING THIS!
<br>
    THANK YOU.
    </p>

    {{>footer}}

    <script src="/js/script.js"></script>
</body>
</html>